@import "tailwindcss";


html,
body {
    min-height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
